{% extends "bootstrap/base.html" %}
{% block title %}Feed Coral{%endblock%}
{% include 'header.html' %}
{% block content %}
<div class="container">
    <div class="page-header">
      <form action="." method="POST">
        <input type="text" class="form-control" name="title" placeholder="Title">
        <br>
        <textarea name="body" class="form-control" rows=5 placeholder="Much inspire"></textarea>
        <br>
        <input class="form-control" type="submit" name="submit" value="Post">
      </form>      
    </div>
</div>
{% endblock %}
