{% extends "bootstrap/base.html" %}
{% include "header.html" %}

{% block title %}Coral - Login{% endblock %}

{% block metas %}
{{super()}}
<meta name="keywords" value="{{ keywords }}">
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='style.css') }}">
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form action="." method="POST">
      <input class="form-control" type="text" name="username" placeholder="username">
      <input class="form-control" type="password" name="password" placeholder="password">
      <input class="form-control" type="submit" name="submit" value="Log in">
    </form>
  </div><!-- end of middle content -->
  <div class="col-md-4">
    {{sidebar|safe}}
  </div><!-- end of sidebar -->
  </div>
</div>
{% endblock %}



