{% extends "bootstrap/base.html" %}
{% block title %}Feed Coral{%endblock%}
{% include 'header.html' %}
{% block content %}
<div class="container">
  <h1>Sidebar</h1>
  <div class="row">
    <div class="col-md-10">
       
      <form action="." method="POST">
        <br />
            <textarea name="sidebar" class="form-control" rows=5>{% if sidebar is defined %}{{sidebar['sidebar']}}{% endif %}</textarea>
        <br />
        <br />
      </div><!-- end of middle -->
      <div class="col-md-2">
        <br />
        <input class="btn-primary form-control" type="submit" name="submit" value="Post">
      </form>      
    </div><!-- end of far right -->
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- super() inherits the current block from the extended template -->
<!-- ckeditor
https://gist.github.com/mrjoes/5189850
http://librelist.com/browser/flask/2010/9/29/a-ckeditor-or-tinymce-for-blogging/#acbc43f16b1b4575d8a024f0cc66db13
http://ckeditor.com/download
http://docs.ckeditor.com/
-->
{{ super() }}
<script src="//cdn.ckeditor.com/4.4.1/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('sidebar');
</script>
{% endblock %}
