{% extends "bootstrap/base.html" %}
{% block title %}Feed Coral{%endblock%}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  {# The following are for alert messages #}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <h1>Settings</h1>
  <div class="row">
    <div class="col-md-4">
      <form action="." method="POST">
        {{form.csrf_token}}
        {% if form.csrf_token.errors %}
          <div class="warning">You have submitted an invalid CSRF token</div>
        {% endif %}
        {{form.title.label}}
        {{form.title(class='form-control',value=settings['title'])}}
        {{form.comments.label}}
        {{form.comments(value=settings['comments'])}}
        {{form.gcode.label}}
        {{form.gcode(class='form-control',value=settings['gcode'])}}
        {{form.keywords.label}}
        {{form.keywords(class='form-control',value=settings['keywords'])}}
        <br \>
        {{form.submit(class="form-control btn-primary")}}
      </form>      
    
    </div>
    <div class="col-md-4"><a href="/settings/sidebar/">Edit Sidebar</a></div>
    <div class="col-md-4"></div>
  </div><!-- end of row--> 

</div>
{% endblock %}
